body{
    background-color: black;
}

.cardset{
    display: flex;
    justify-content: space-around;
}


.card{
    width: 250px ;
    height: 250px ;
    border: 5px none;
    border-radius: 20px;
    background-color: #333333;
    margin-top: 70px;
   
}
.pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-style: none;
    background-color: aqua;
    margin-left: 26%;
    margin-top: 8%;

}
.name{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    margin-top: 10%;
    color: white;
}
.email{
    text-align: center;
    font-size: medium;
    margin-top: 5%;
    color: white;
}

.tableDv{
    margin-top: 2%;
    margin-left: auto; 
    margin-right: auto;
    background-color: white;
    color: white;
    border-style: none;
}
th{
    background-color: #555555;
}
td{
    height: 20px;
    background-color: black;
}
.btn1{
    width: 120px;
    height: 40px;
    border-radius: 8px;
    font-size: large;
    color: white;
    font-weight: bold;
    background-color: #808080;
    border-style: none;
    margin-top: 2%;
    margin-left: 47%;
}    